body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: azure;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#box-container {
    width: 600px;
    height: 600px;
    border: 1px solid cornflowerblue ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;  
}

button {
    width: 80px;
    height: 40px; 
    background-color:cornflowerblue;
    border-style: hidden;
    color: white;
}

